.itemDetail {
  width: 18%;
  margin: 0 auto;
}

.itemDetail img {
  max-width: 100%;
}

@media screen and (max-width: 992px) {
  .itemDetail {
    width: 40%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .itemDetail {
    width: 50%;
    margin: 0 auto;
  }
}
