.itemListContainer {
  text-align: center;
}

.category {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.category .nav-link {
  width: 40%;
  background-color: pink;
}

.category .nav-link:hover {
  font-weight: bold;
}

.navLink:hover {
  font-style: italic;
}

@media screen and (max-width: 1200px) {
  .category .nav-link {
    width: 68%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 992px) {
  .category .nav-link {
    width: 78%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .category .nav-link {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 620px) {
  .category .nav-link {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}
