.header {
  width: 100%;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a18a5d;
}

.header .header-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.header .header-logo .logo {
  max-width: 8%;
}

.header .navbar {
  width: 40%;
}

.header .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .link {
  font-size: 1.4rem;
  font-weight: 500;
}

.header .link:hover {
  color: #efce8b;
}

.bars {
  display: none;
}

.icon {
  font-size: 1.4rem;
}

.icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 1460px) {
  .header .navbar {
    width: 62%;
  }

  .header span {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .header .navbar {
    width: 100%;
  }

  .header span {
    font-size: 1.2rem;
  }
  .header .link {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    display: none;
  }

  .bars {
    display: block;
    cursor: pointer;
    font-size: 2.2rem;
  }
}
